[submodule "external/sm83"]
	path = external/sm83
	url = git@github.com:SingleStepTests/sm83.git
[submodule "external/doctest"]
	path = external/doctest
	url = git@github.com:doctest/doctest.git
[submodule "external/json"]
	path = external/json
	url = git@github.com:nlohmann/json.git
